@model IEnumerable<DrainDetails>
@{
    ViewBag.Title = "List of Drains";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Drain Details</h1>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Of Drains</h6>
                <a asp-controller="Drain" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    Add New
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Any())
                    {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Coordinates</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var drain in Model)
                                {
                                    <tr>
                                        <td>@drain.Name</td>
                                        <td>
                                            @foreach (var coordinate in drain.DrainCoordinates)
                                            {
                                                <div>Latitude: @coordinate.Latitude, Longitude: @coordinate.Longitude</div>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="Drain" asp-route-id="@drain.Id" class="btn btn-warning">Edit</a>
                                            @* <a asp-action="Delete" asp-controller="Drain" asp-route-id="@drain.Id" class="btn btn-danger">Delete</a> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

