@model GrantViewModelCreate
@{
    ViewBag.Title = "Application for Issue of NOC-Drainage";
    Layout = "~/Views/HomeLanding/_HomeLayout.cshtml";
}
<main id="main">
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Application for Issuance of NOC-Drainage</h2>
                @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> *@
            </div>

            <div class="row">

                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">

                    <!-- Circle Buttons -->
                    <form enctype="multipart/form-data" class="user" asp-action="Create" asp-controller="Grant" method="post" id="grantForm">
                        <div class="card shadow mb-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Master Plan Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input hidden asp-for="IsUnderMasterPlan" value="false" id="IsUnderMasterPlan" />
                                                    <label asp-for="SelectedMasterPlanTautology" class="control-label"></label>
                                                    <select asp-for="SelectedMasterPlanTautology" id="SelectedMasterPlanTautology" asp-items="@Model.MasterPlanTautology" class="form-control">
                                                        @* <option value="">Select</option> *@
                                                    </select>
                                                    <span asp-validation-for="SelectedMasterPlanTautology" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 masterPlan2">
                                                <div class="form-group">
                                                    <label asp-for="SelectedMasterPlanId" class="control-label"></label>
                                                    <select asp-for="SelectedMasterPlanId" asp-items="@Model.MasterPlanDetails" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedMasterPlanId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Project Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label asp-for="Name" class="control-label"></label>
                                                    <input asp-for="Name" class="form-control form-control-user" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>

                                                @* <div class="form-group">
                                                <label asp-for="SiteAreaOrSizeInInches" class="control-label "></label>
                                                <input asp-for="SiteAreaOrSizeInInches" class="form-control form-control-user numericField" />
                                                <span asp-validation-for="SiteAreaOrSizeInInches" class="text-danger"></span>
                                                </div> *@
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input hidden asp-for="IsOtherTypeSelected" value="0" id="IsOtherType" />
                                                    <label asp-for="SelectedProjectTypeId" class="control-label">Project Type</label>
                                                    <select asp-for="SelectedProjectTypeId" asp-items="@Model.ProjectType" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedProjectTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group other" style="display:none">
                                                    <label asp-for="OtherProjectTypeDetail" class="control-label"></label>
                                                    <input asp-for="OtherProjectTypeDetail" class="form-control form-control-user" />
                                                    <span asp-validation-for="OtherProjectTypeDetail" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Site Address Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @* <div class="form-group">
                                                <label asp-for="Khasra" class="control-label"></label>
                                                <input asp-for="Khasra" class="form-control form-control-user" />
                                                <span asp-validation-for="Khasra" class="text-danger"></span>
                                                </div> *@
                                                <div class="form-group">
                                                    <label asp-for="Hadbast" class="control-label"></label><span class="info-icon" style="color:royalblue" data-toggle="tooltip" data-placement="top" title="You can enter multiple hadbasts separated by commas.">
                                                                                                                        <i class="fas fa-info-circle"></i>
                                                                                                                    </span>
                                                    <input asp-for="Hadbast" class="form-control form-control-user" />
                                                    <span asp-validation-for="Hadbast" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="PlotNo" class="control-label"></label>
                                                    <input asp-for="PlotNo" class="form-control form-control-user" />
                                                    <span asp-validation-for="PlotNo" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="SelectedDivisionId" class="control-label"></label>
                                                    <select asp-for="SelectedDivisionId" asp-items="@Model.Divisions" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedDivisionId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="SelectedSubDivisionId" class="control-label"></label>
                                                    <select asp-for="SelectedSubDivisionId" asp-items="@Model.SubDivision" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedSubDivisionId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="SelectedTehsilBlockId" class="control-label">Tehsil/Block</label>
                                                    <select asp-for="SelectedTehsilBlockId" asp-items="@Model.TehsilBlock" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedTehsilBlockId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Villagename" class="control-label">Village/Town/City</label>
                                                    @* <select asp-for="SelectedVillageID" asp-items="@Model.Village" class="form-control">
                                                        <option value="">Select</option>
                                                    </select> *@
                                                    <input asp-for="Villagename" maxlength="70" class="form-control form-control-user village" />
                                                    <span asp-validation-for="Villagename" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label asp-for="Pincode" class="control-label">Pincode</label>
                                                    <input asp-for="Pincode" maxlength="6" class="form-control form-control-user pincode" />
                                                    <span asp-validation-for="Pincode" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="SelectedPlanSanctionAuthorityId" class="control-label"></label>
                                                    <select asp-for="SelectedPlanSanctionAuthorityId" asp-items="@Model.PlanSanctionAuthorityMaster" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedPlanSanctionAuthorityId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="AddressProofPhoto" class="control-label">Address Proof Document</label><span style="color:red"> (Max File (jpg,png,pdf) Size 4MB)</span>
                                                    <div class="custom-file1">
                                                        <input asp-for="AddressProofPhoto" class="form-control custom-file-input1" accept=".jpg, .jpeg, .png, .pdf" />
                                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                                        <span asp-validation-for="AddressProofPhoto" id="AddressProofPhoto-error" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="LayoutPlanFilePhoto" class="control-label">Layout Plan Document</label><span style="color:red"> (Max File (jpg,png,pdf) Size 4MB)</span>
                                                    <div class="custom-file1">
                                                        <input asp-for="LayoutPlanFilePhoto" class="form-control custom-file-input1" accept=".jpg, .jpeg, .png, .pdf" />
                                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                                        <span asp-validation-for="LayoutPlanFilePhoto" id="LayoutPlanFilePhoto-error" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="FaradFilePoto" class="control-label">Farad Document</label><span style="color:red"> (Max File (jpg,png,pdf) Size 4MB)</span>
                                                    <div class="custom-file1">
                                                        <input asp-for="FaradFilePoto" class="form-control custom-file-input1" accept=".jpg, .jpeg, .png, .pdf" />
                                                        @* <label class="custom-file-label1">Choose File...</label> *@
                                                        <span asp-validation-for="FaradFilePoto" id="FaradFilePoto-error" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row masterPlan">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Site Area Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input type="hidden" id="ValidKhasra" value="1" />
                                                    <input type="hidden" id="ValidKhasraName" value="" />
                                                    <input type="hidden" id="KUnitValue" value="0" />
                                                    <input type="hidden" id="KTimesof" value="1" />
                                                    <input type="hidden" id="KDivideBy" value="1" />
                                                    <input type="hidden" id="MUnitValue" value="0" />
                                                    <input type="hidden" id="MTimesof" value="1" />
                                                    <input type="hidden" id="MDivideBy" value="1" />
                                                    <input type="hidden" id="SUnitValue" value="0" />
                                                    <input type="hidden" id="STimesof" value="1" />
                                                    <input type="hidden" id="SDivideBy" value="1" />
                                                    <label asp-for="SelectedSiteAreaUnitId" class="control-label ">Unit of Site Area</label>
                                                    <select asp-for="SelectedSiteAreaUnitId" asp-items="@Model.SiteAreaUnit" class="form-control">
                                                        <option value="">Select</option>
                                                    </select>
                                                    <span asp-validation-for="SelectedSiteAreaUnitId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <table id="khasraTable" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Khasra No.</th>
                                                        <th>Kanal/Bigha</th>
                                                        <th>Marla/Biswa</th>
                                                        <th>Sarsai/Biswansi</th>
                                                        <th></th>
                                                        <!-- Add more columns as needed -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="khasra-entry">
                                                        <td><span class="srKhasra">1</span></td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                            <input type="text" asp-for=GrantKhasras[0].KhasraNo class="form-control khasra" placeholder="Khasra No." onblur="CheckDuplicate(this)"/>
                                                            <span asp-validation-for="GrantKhasras[0].KhasraNo" class="text-danger " id="khasraVal0"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                            <input type="text" asp-for=GrantKhasras[0].KanalOrBigha class="form-control numericField K2" placeholder="Kanal/Bigha" />
                                                            <span asp-validation-for="GrantKhasras[0].KanalOrBigha" class="text-danger"></span>
                                                        </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                            <input type="text" asp-for=GrantKhasras[0].MarlaOrBiswa class="form-control numericField M1" placeholder="Marla/Biswa" />
                                                            <span asp-validation-for="GrantKhasras[0].MarlaOrBiswa" class="text-danger"></span>
                                                        </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-sm-12">
                                                            <input type="text" asp-for=GrantKhasras[0].SarsaiOrBiswansi class="form-control numericField B3" placeholder="Sarsai/Biswansi" />
                                                            <span asp-validation-for="GrantKhasras[0].SarsaiOrBiswansi" class="text-danger"></span>
                                                        </div>
                                                        </td>
                                                        <td class="delKhasra"></td>
                                                        <!-- Render more columns as needed -->
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="row">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td class="col-sm-3">
                                                        <label class="control-label">Total Area in Acres: </label>
                                                        <input hidden asp-for="TotalArea" value="0" id="TotalSiteArea" />
                                                        <label asp-for="TotalArea" id="TotalArea" class="form-control form-control-user">@Model.TotalArea</label>
                                                        
                                                        </td class="col-sm-3">
                                                        <td>
                                                        <label class="control-label">Total Area in Sq Feet: </label>
                                                                <label asp-for="TotalAreaSqFeet" id="TotalSiteAreaSqFeet" class="form-control form-control-user">@Model.TotalAreaSqFeet</label>
                                                       
                                                        </td>
                                                        <td class="col-sm-3">
                                                        <label class="control-label">Total Area in Sq Metre(s): </label>
                                                                <label asp-for="TotalAreaSqMetre" id="TotalSiteAreaSqMetre" class="form-control form-control-user">@Model.TotalAreaSqMetre</label>
                                                       </td>
                                                        <td class="col-sm-3">
                                                    <div style="margin-top:23px;float:right;">
                                                        <button type="button" class="btn btn-success" id="addMoreKhasraBtn">Add More</button>
                                                    </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row masterPlan">
                                <div class="col-lg-6">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Site KML File Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label asp-for="KMLFile" class="control-label">KML File</label><span style="color:red"> (Max File (pdf) Size 4MB)</span>
                                            <div class="custom-file1">
                                                <input asp-for="KMLFile" class="form-control custom-file-input1" accept=".kml" />
                                                @* <label class="custom-file-label1">Choose File...</label> *@
                                                <span asp-validation-for="KMLFile" id="KMLFile-error" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="KmlLinkName" class="control-label"></label>
                                            <input asp-for="KmlLinkName" class="form-control form-control-user" />
                                            <span asp-validation-for="KmlLinkName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Types of Permissions</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label asp-for="SelectedNocPermissionTypeID" class="control-label">NOC Permission Type</label>
                                            <select asp-for="SelectedNocPermissionTypeID" asp-items="@Model.NocPermissionType" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                            <span asp-validation-for="SelectedNocPermissionTypeID" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input hidden asp-for="IsExtension" value="0" id="IsExtension" />
                                            <label asp-for="SelectedNocTypeId" class="control-label">NOC Type</label>
                                            <select asp-for="SelectedNocTypeId" asp-items="@Model.NocType" class="form-control">
                                                <option value="">Select</option>
                                            </select>
                                            <span asp-validation-for="SelectedNocTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group existing" style="display:none;">
                                            <label asp-for="NocNumber" class="control-label"></label>
                                            <input asp-for="NocNumber" class="form-control form-control-user" />
                                            <span asp-validation-for="NocNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group existing" style="display:none;">
                                            <label asp-for="PreviousDate" class="control-label">Date</label>
                                            <input asp-for="PreviousDate" class="form-control form-control-user" />
                                            <span asp-validation-for="PreviousDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Applicant Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label asp-for="ApplicantName" class="control-label"></label>
                                                    <input asp-for="ApplicantName" class="form-control form-control-user" />
                                                    <span asp-validation-for="ApplicantName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="IDProofPhoto" class="control-label">ID Proof Document</label><span style="color:red"> (Max File (jpg,png,pdf) Size 4MB)</span>
                                                    <div class="custom-file3">
                                                        <input asp-for="IDProofPhoto" class="form-control custom-file-input3" accept=".jpg, .jpeg, .png, .pdf" />
                                                        @* <label class="custom-file-label">Choose File...</label> *@
                                                        <span asp-validation-for="IDProofPhoto" id="IDProofPhoto-error" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label asp-for="ApplicantEmailID" class="control-label"></label> <span class="info-icon" style="color:royalblue" data-toggle="tooltip" data-placement="top" title="Any correspondence related to application shall be intimated to this email id.">
                                                                                                                        <i class="fas fa-info-circle"></i>
                                                                                                                    </span>
                                                    <input asp-for="ApplicantEmailID" class="form-control form-control-user" />
                                                    <span asp-validation-for="ApplicantEmailID" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="AuthorizationLetterPhoto" class="control-label">
                                                        Authorization Letter (Attach in case
                                                        application is to be filled
                                                        by person other than
                                                        owner)-
                                                    </label><span style="color:red">Max File (jpg,png,pdf) Size 4MB</span>
                                                    <div class="custom-file2">
                                                        <input asp-for="AuthorizationLetterPhoto" class="form-control custom-file-input2" accept=".jpg, .jpeg, .png, .pdf" />
                                                        @* <label class="custom-file-label2">Choose File...</label> *@
                                                        <span asp-validation-for="AuthorizationLetterPhoto" id="AuthorizationLetterPhoto-error" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Details of Owners/Partners/Chief Executive/Full Time Directors</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <table id="ownerTable" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>OwnerType</th>
                                                        <th>Name</th>
                                                        <th>Address</th>
                                                        <th>Mobile Number</th>
                                                        <th>Email</th>
                                                        <th></th>
                                                        <!-- Add more columns as needed -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="owner-entry">

                                                        <td><span class="srOwner">1</span></td>
                                                        <td>
                                                            <select asp-for="Owners[0].SelectedOwnerTypeID" asp-items="@Model.Owners[0].OwnerType" class="form-control">
                                                                <option value="">Select</option>
                                                            </select>
                                                            <input hidden asp-for="Owners[0].SelectedOwnerTypeID" />
                                                            <span asp-validation-for="Owners[0].SelectedOwnerTypeID" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for=Owners[0].Name class="form-control" placeholder="Owner/Partner/Chief Executive/Full Time Director Name" />
                                                            <span asp-validation-for="Owners[0].Name" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for=Owners[0].Address class="form-control" placeholder="Address" />
                                                            <span asp-validation-for="Owners[0].Address" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for=Owners[0].MobileNo class="form-control mobno" maxlength="10" placeholder="Mobile No." />
                                                            <span asp-validation-for="Owners[0].MobileNo" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input type="text" asp-for=Owners[0].Email class="form-control" placeholder="Email" />
                                                            <span asp-validation-for="Owners[0].Email" class="text-danger"></span>
                                                        </td>
                                                        <td class="delOwner"></td>
                                                        <!-- Render more columns as needed -->
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="row col-sm-2 offset-sm-10">
                                            <button type="button" class="btn btn-success" id="addMoreBtn">Add More</button>
                                        </div>
                                        <div class="row float-start">
                                            <input type="checkbox" style="margin-left:8px;" asp-for="IsConfirmed" />
                                        </div>
                                        <div class="row mt-4">
                                            <span asp-validation-for="IsConfirmed" class="text-danger"></span>
                                            <label asp-for="IsConfirmed">
                                                I / We confirm that the information furnished
                                                herewith is correct to the best of my/our
                                                knowledge and nothing has been concealed
                                                therein. The Government would be at liberty
                                                to take suitable action against the
                                                unit/project and the person(s) responsible
                                                who failed to comply with the provisions of
                                                the Law. Rules, Regulations & Directions in
                                                case the information /Documents are found
                                                to be incorrect /false/misleading the
                                                government may withdraw the NOC issued
                                                for the project
                                            </label>
                                        </div>
                                        <div asp-validation-summary="All" class="text-danger validateAll"></div>
                                        <div class="row">
                                            <div class="col-sm-6 offset-sm-5">
                                                <button type="submit" class="btn btn-primary btn-user btn-block" id="btnSave">Submit</button>
                                            </div>
                                            @* <div class="col-lg-6">
                                            <a class="btn btn-secondary btn-user btn-block" asp-controller="Grant" asp-action="List">Back to List</a>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </section>

</main>


@* <div id="partialContainer"></div> *@
@section Scripts {
    <script src="~/modulejs/createapplication.js"></script>
   
}
