@model IEnumerable<List<GrantUnprocessedAppDetails>>;
@{
    List<GrantUnprocessedAppDetails>[] arry =new List<GrantUnprocessedAppDetails>[3];
    string str = "Manage Unprocessed/Forwarded Applications", str2 = "List Of Unprocessed/Forwarded Applications";
    if (Model != null && Model.Count()>0)
    {
        if (Model.FirstOrDefault() != null && Model.FirstOrDefault().Count() > 0)
        {
            var query = Model.FirstOrDefault().Select(x => new { IsForwarded = x.IsForwarded, LastForwardedByRole = x.LastForwardedByRole, LoggedInRole = x.LoggedInRole });
            str = "Manage Applications"/* query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "Manage Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "Manage Forwarded Applications" : "Manage Unprocessed Applications" */;
            str2 = query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "List Of Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "List Of Forwarded Applications" : "List Of Unprocessed Applications";
        }
        arry = Model.ToArray();
    }
    ViewBag.Title = str;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@str</h1>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Of Applications@* @str2 *@</h6>
                @* <a asp-controller="Division" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                Add New
                </a> *@
            </div>
            <div class="card-body">
                <div class="default-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pending</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Forwarded</a>
                            @if (arry[2] != null && arry[2].Any() && !arry[2].Any(x => x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER"))
                            {
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Rejected</a>
                            }
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="table-responsive">
                                @if (arry[0] != null && arry[0].Any())
                                {
                                    int @count = 1;
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <th>Application Id</th>
                                                <th>Project Name</th>
                                                <th>Location Details</th>
                                                <th>Forwarded By</th>
                                                <th>View</th>
                                                @if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.IsForwarded == true))
                                                {
                                                    @if (arry[0].Any(x => x.GrantApprovalDocId != 0))
                                                    {
                                                        <th>Edit</th>
                                                    }
                                                }
                                                <th>Forward</th>
                                                @if (arry[0].Any(x => (x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || x.LoggedInRole == "CHIEF ENGINEER HQ"))
                                                {
                                                    <th>Issue NOC</th>
                                                    <th>Reject</th>
                                                }
                                                else if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER"))
                                                {
                                                    <th>Reject</th>
                                                }

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (GrantUnprocessedAppDetails data in arry[0])
                                            {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@data.ApplicationID</td>
                                                    <td>@data.Name</td>
                                                    <td>@data.LocationDetails </td>
                                                    @if (data.LastForwardedByRole != "")
                                                    {
                                                        <td>
                                                            @if (data.LastForwardedByRole == null)
                                                            {
                                                                @:Unprocessed Application
                                                            }
                                                            else
                                                            {
                                                                @data.LastForwardedByRole
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>New Applied Application </td>
                                                    }
                                                    <td>
                                                        <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                    </td>
                                                    @if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == false)
                                                    {
                                                        @if (data.GrantApprovalDocId != 0)
                                                        {
                                                            <td>
                                                                <a href="@Url.Action("EditApprovalDocuments", "ApprovalProcess", new { grantId = data.GrantApprovalId,docId=data.GrantApprovalDocId })" class="btn btn-success">Edit</a>
                                                                @* <a asp-action="EditApprovalDocuments" asp-controller="ApprovalProcess" asp-route-Id="@data.GrantApprovalId" class="btn btn-success">Edit</a> *@

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            @if (arry[0].Any(x => x.GrantApprovalDocId != 0))
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                    }
                                                    else @if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == true)
                                                    {
                                                        @if (data.GrantApprovalDocId != 0)
                                                        {
                                                            <td>
                                                                <a href="@Url.Action("EditApprovalDocuments", "ApprovalProcess", new { grantId = data.GrantApprovalId,docId=data.GrantApprovalDocId })" class="btn btn-success">Edit</a>
                                                                @* <a asp-action="EditApprovalDocuments" asp-controller="ApprovalProcess" asp-route-Id="@data.GrantApprovalId" class="btn btn-success">Edit</a> *@

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            @if (arry[0].Any(x => x.GrantApprovalDocId != 0))
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                    }
                                                    <td>
                                                        <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                                    </td>
                                                    @if ((data.LoggedInRole == "EXECUTIVE ENGINEER" && data.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                                    {
                                                        <td>
                                                            <a asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID" class="btn btn-success">Issue</a>
                                                            @* <form method="post" asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID">
                                                <button class="btn btn-success" type="submit">Issue</button>
                                                </form> *@
                                                        </td>
                                                        <td>
                                                            <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>
                                                            @* <a href="#" data-toggle="modal" data-target="#rejectModal" onclick="SetValue('@data.ApplicationID')" class="btn btn-danger">Reject</a> *@
                                                        </td>



                                                    }
                                                    else if (data.LoggedInRole != "JUNIOR ENGINEER" && data.LoggedInRole != "SUB DIVISIONAL OFFICER")
                                                    {
                                                        @* @if ((data.LoggedInRole == "EXECUTIVE ENGINEER" && data.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                            {
                                            <td></td>
                                            }
                                            else  *@
                                                        @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                                        {
                                                            <td></td>
                                                        }
                                                        <td>
                                                            <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>
                                                            @* <a href="#" data-toggle="modal" data-target="#rejectModal" onclick="SetValue('@data.ApplicationID')" class="btn btn-danger">Reject</a> *@
                                                        </td>
                                                    }
                                                    @* <a asp-action="Reject" href="#" data-toggle="modal" data-target="#rejectModal" asp-controller="ApprovalProcess" asp-route-id="@data.Id" class="btn btn-danger">Reject</a> *@

                                                </tr>
                                                count = count + 1;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>No Record Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="table-responsive">
                                @if (arry[1] != null && arry[1].Any())
                                {
                                    int @count = 1;
                                    <table class="table table-bordered" id="dataTableForwarded" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <th>Application Id</th>
                                                <th>Project Name</th>
                                                <th>Location Details</th>
                                                <th>Forwarded To Role</th>
                                                <th>Forwarded To User</th>
                                                <th>View</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (GrantUnprocessedAppDetails data in arry[1])
                                            {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@data.ApplicationID</td>
                                                    <td>@data.Name</td>
                                                    <td>@data.LocationDetails </td>
                                                    @if (data.LastForwardedByRole != "")
                                                    {
                                                        <td>
                                                            @if (data.LastForwardedByRole == null)
                                                            {
                                                                @:Unprocessed Application
                                                            }
                                                            else
                                                            {
                                                                @data.ProcessedToRole
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>New Applied Application </td>
                                                    }
                                                    @if (data.ProcessedToUser != "")
                                                    {
                                                        <td>
                                                            @if (data.ProcessedToUser == null)
                                                            {
                                                                @:Unprocessed Application
                                                            }
                                                            else
                                                            {
                                                                @data.ProcessedToUser
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>New Applied Application </td>
                                                    }
                                                    <td>
                                                        <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="Transfer" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Transfer</a>
                                                    </td>

                                                </tr>
                                                count = count + 1;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>No Record Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        @if (arry[2] != null && arry[2].Any() && !arry[2].Any(x => x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER"))
                        @* @if (Model.Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER")) *@
                        {
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="table-responsive">
                                    @if (arry[2] != null && arry[2].Any())
                                    {
                                        int @count = 1;
                                        <table class="table table-bordered" id="dataTableForwarded" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <td>#</td>
                                                    <th>Application Id</th>
                                                    <th>Project Name</th>
                                                    <th>Location Details</th>
                                                    <th>Rejected By</th>
                                                    <th>View</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (GrantUnprocessedAppDetails data in arry[2])
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@data.ApplicationID</td>
                                                        <td>@data.Name</td>
                                                        <td>@data.LocationDetails </td>
                                                        @if (data.LastForwardedByRole != "")
                                                        {
                                                            <td>
                                                                @if (data.LastForwardedByRole == null)
                                                                {
                                                                    @:Unprocessed Application
                                                                }
                                                                else
                                                                {
                                                                    @data.LastForwardedByRole
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>New Applied Application </td>
                                                        }
                                                        <td>
                                                            <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                        </td>

                                                    </tr>
                                                    count = count + 1;
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>No Record Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Reject" asp-controller="ApprovalProcess">
                <div class="modal-header">
                    <input type="hidden" id="id" name="id" />
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure, you want to reject application?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* Select "Reject" below if you are ready to reject application. *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label name="lblRemarks" class="control-label">Remarks</label>
                                <input name="Remarks" id="Remarks" class="form-control form-control-user" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit">Reject</button>
                    @* <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a> *@
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function SetValue(id) {
            $('#id').val(id);
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
