@model IEnumerable<GrantUnprocessedAppDetails>;
@{
    string str = "Manage Unprocessed/Forwarded Applications", str2 = "List Of Unprocessed/Forwarded Applications";
    if (Model != null)
    {
        var query = Model.Select(x => new { IsForwarded = x.IsForwarded, LastForwardedByRole = x.LastForwardedByRole, LoggedInRole = x.LoggedInRole });
        str = query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "Manage Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "Manage Forwarded Applications" : "Manage Unprocessed Applications";
        str2 = query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "List Of Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "List Of Forwarded Applications" : "List Of Unprocessed Applications";
        
    }
    ViewBag.Title = str;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@str</h1>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@str2</h6>
                @* <a asp-controller="Division" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    Add New
                </a> *@
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model!=null && Model.Any())
                    {
                        int @count = 1;
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <th>Application Id</th>
                                    <th>Project Name</th>
                                    <th>Location Details</th>
                                    <th>Forwarded By</th>
                                    <th>View</th>
                                    @if (Model.Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.IsForwarded==true))
                                    {
                                        @if (Model.Any(x => x.GrantApprovalDocId != 0))
                                        {
                                            <th>Edit</th>
                                        }
                                    }
                                    <th>Forward</th>
                                    @if (Model.Any(x => (x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || x.LoggedInRole == "CHIEF ENGINEER HQ"))
                                    {
                                        <th>Issue NOC</th>
                                        <th>Reject</th>
                                    }
                                    else if (Model.Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER"))
                                    {
                                        <th>Reject</th>
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (GrantUnprocessedAppDetails data in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@data.ApplicationID</td>
                                        <td>@data.Name</td>
                                        <td>@data.LocationDetails </td>
                                        @if (data.LastForwardedByRole != "")
                                        {
                                            <td>
                                                @if (data.LastForwardedByRole == null)
                                                {
                                                    @:Unprocessed Application
                                                }
                                                else
                                                {
                                                    @data.LastForwardedByRole
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td>New Applied Application </td>
                                        }
                                        <td>
                                            <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                        </td>
                                        @if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == false)
                                        {
                                            @if (data.GrantApprovalDocId != 0)
                                            {
                                                <td>
                                                    <a href="@Url.Action("EditApprovalDocuments", "ApprovalProcess", new { grantId = data.GrantApprovalId,docId=data.GrantApprovalDocId })" class="btn btn-success">Edit</a>
                                                    @* <a asp-action="EditApprovalDocuments" asp-controller="ApprovalProcess" asp-route-Id="@data.GrantApprovalId" class="btn btn-success">Edit</a> *@

                                                </td>
                                            }
                                            else
                                            {
                                                @if (Model.Any(x => x.GrantApprovalDocId != 0))
                                                {
                                                    <td></td>
                                                }
                                            }
                                        }
                                        else @if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == true)
                                        {
                                            @if (data.GrantApprovalDocId != 0)
                                            {
                                                <td>
                                                        <a href="@Url.Action("EditApprovalDocuments", "ApprovalProcess", new { grantId = data.GrantApprovalId,docId=data.GrantApprovalDocId })" class="btn btn-success">Edit</a>
                                                        @* <a asp-action="EditApprovalDocuments" asp-controller="ApprovalProcess" asp-route-Id="@data.GrantApprovalId" class="btn btn-success">Edit</a> *@
                                               
                                                </td>
                                            }
                                            else
                                            {
                                                @if (Model.Any(x => x.GrantApprovalDocId != 0))
                                                {
                                                    <td></td>
                                                }
                                            }
                                        }
                                        <td>
                                            <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                        </td>
                                        @if ((data.LoggedInRole == "EXECUTIVE ENGINEER"  && data.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                        {
                                                    <td>
                                                        <form method="post" asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID">
                                                            <button class="btn btn-success" type="submit">Issue</button>
                                                        </form>
                                                    </td>
                                            <td>
                                                <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>
                                                @* <a href="#" data-toggle="modal" data-target="#rejectModal" onclick="SetValue('@data.ApplicationID')" class="btn btn-danger">Reject</a> *@
                                            </td>



                                        }
                                        else if (data.LoggedInRole != "JUNIOR ENGINEER" && data.LoggedInRole != "SUB DIVISIONAL OFFICER")
                                        {
                                            @* @if ((data.LoggedInRole == "EXECUTIVE ENGINEER" && data.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                            {
                                                <td></td>
                                            }
                                            else  *@
                                            @if (Model.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER HQ")
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>
                                                @* <a href="#" data-toggle="modal" data-target="#rejectModal" onclick="SetValue('@data.ApplicationID')" class="btn btn-danger">Reject</a> *@
                                            </td>
                                        }
                                        @* <a asp-action="Reject" href="#" data-toggle="modal" data-target="#rejectModal" asp-controller="ApprovalProcess" asp-route-id="@data.Id" class="btn btn-danger">Reject</a> *@
                                        
                                    </tr>
                                    count=count + 1;
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Reject" asp-controller="ApprovalProcess">
                <div class="modal-header">
                    <input type="hidden" id="id" name="id" />
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure, you want to reject application?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">@* Select "Reject" below if you are ready to reject application. *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label name="lblRemarks" class="control-label">Remarks</label>
                                <input name="Remarks" id="Remarks" class="form-control form-control-user" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit">Reject</button>
                    @* <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a> *@
                </div>
            </form>
        </div>
    </div>
</div>
@section  Scripts {
    <script>
        function SetValue(id) {
            $('#id').val(id);
        }
    </script>
}
