@model IEnumerable<List<GrantUnprocessedAppDetails>>;
@{
    List<GrantUnprocessedAppDetails>[] arry = new List<GrantUnprocessedAppDetails>[3];
    string str = "Manage Unprocessed/Forwarded Applications", str2 = "List Of Unprocessed/Forwarded Applications";
    if (Model != null && Model.Count() > 0)
    {
        if (Model.FirstOrDefault() != null && Model.FirstOrDefault().Count() > 0)
        {
            var query = Model.FirstOrDefault().Select(x => new { IsForwarded = x.IsForwarded, LastForwardedByRole = x.LastForwardedByRole, LoggedInRole = x.LoggedInRole });
            str = "Manage Applications"/* query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "Manage Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "Manage Forwarded Applications" : "Manage Applicants" */;
            str2 = query.Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.IsForwarded) ? "List Of Unprocessed and Forwarded Applications" : query.Any(x => x.IsForwarded == true) ? "List Of Forwarded Applications" : "List Of Applicants";
        }
        arry = Model.ToArray();
    }
    ViewBag.Title = str;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@str</h1>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">
        <div id="divLoader" style="display:none;text-align:center"> <img src="~/images/ajax-loader.gif" alt="Loader" /> </div>
        <div class="card shadow mb-4 barcontainer">
            <div class="d-sm-flex align-items-center justify-content-between card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Of Applications@* @str2 *@</h6>
            </div>
            <div class="card-body">
                <div class="default-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pending</a>

                            @if ((arry[0] != null && arry[0].Any() && arry[0].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[1] != null && arry[1].Any() && arry[1].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[2] != null && arry[2].Any() && arry[2].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[3] != null && arry[3].Any() && arry[3].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")))
                            {
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Forwarded</a>
                                @if (arry[2] != null && arry[2].Any() && !arry[2].Any(x => x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER"))
                                {
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Rejected</a>
                                }
                                @if (arry[3] != null && arry[3].Any())
                                {
                                    <a class="nav-item nav-link" id="nav-shortfall-tab" data-toggle="tab" href="#nav-shortfall" role="tab" aria-controls="nav-shortfall" aria-selected="false">Issued NOC</a>
                                }
                                @*  @if (arry[3] != null && arry[3].Any())
                            {
                            <a class="nav-item nav-link" id="nav-shortfall-tab" data-toggle="tab" href="#nav-shortfall" role="tab" aria-controls="nav-shortfall" aria-selected="false">Expired Shortfalls</a>
                            } *@
                            }
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="table-responsive">
                                @if (arry[0] != null && arry[0].Any())
                                {
                                    int @count = 1;
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <th>Application Id</th>
                                                <th>Date of Application</th>
                                                <th>Project Name</th>
                                                <th>Location Details</th>
                                                <th>Processed By </th>
                                                @if (arry[0].Any(x => x.LastForwardedByRole != ""))
                                                {
                                                    <th>Remarks</th>
                                                }
                                                <th>View</th>
                                                @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && (x.LastForwardedByRole == null || x.LastForwardedByRole == "")))
                                                {
                                                    <th>Transfer File</th>
                                                }
                                                @if (arry[0].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY"))
                                                {
                                                    @if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.IsForwarded == true))
                                                    {
                                                        @if (arry[0].Any(x => @* x.GrantApprovalDocId != 0 && *@ x.rejectionmust != 1 && x.IsShortFall == false))
                                                        {
                                                            if (arry[0].Any(x => x.IsUnderMasterPlan == false))
                                                            {
                                                                <th>Edit Documents</th>
                                                            }
                                                        }
                                                    }
                                                    else if (arry[0].Any(x => (x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER") && x.IsForwarded == false && x.rejectionmust != 1 && x.IsShortFall == true))
                                                    {
                                                        <th>Status</th>
                                                    }
                                                    @if (arry[0].Any(x => x.IsForwarded == true && x.rejectionmust != 1))
                                                    {
                                                        if (arry[0].Any(x => x.IsRecommended == 1))
                                                        {
                                                            <th>Recommendations</th>
                                                        }
                                                    }
                                                    if (arry[0].Any(x => x.IsUnderMasterPlan == false))
                                                    {
                                                        @if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                        {
                                                            @if (arry[0].Any(x => (x.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && x.TotalArea > 25)))
                                                            {
                                                                <th>Forward</th>

                                                            }
                                                            
                                                            else if (arry[0].Any(x => (x.LoggedInRole != "CHIEF ENGINEER DRAINAGE")))
                                                            {
                                                                <th>Forward</th>
                                                                <th>Shortfall</th>
                                                            }
                                                            else if (arry[0].Any(x => (x.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && x.TotalArea < 25)))
                                                            {
                                                                <th>Shortfall</th>
                                                            }
                                                            

                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (arry[0].Any(x => (x.LoggedInRole == "EXECUTIVE ENGINEER" && (x.LastForwardedByRole == "" || x.LastForwardedByRole == null || x.LastForwardedByRole == "EXECUTIVE ENGINEER")) || (x.LoggedInRole == "JUNIOR ENGINEER" && x.LastForwardedByRole == "EXECUTIVE ENGINEER") || ((x.LoggedInRole == x.LastForwardedByRole) && (x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER")) || (x.LoggedInRole == "SUB DIVISIONAL OFFICER" && x.LastForwardedByRole == "JUNIOR ENGINEER")))
                                                        {
                                                            @if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                            {
                                                                <th>Forward</th>
                                                                <th>Shortfall</th>
                                                            }
                                                        }
                                                    }
                                                    @if (arry[0].Any(x => (x.IsShortFall == false && (x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || (x.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && x.TotalArea < 25))))
                                                    {

                                                        <th>Issue</th>
                                                        <th>Reject</th>
                                                    }
                                                    else if (arry[0].Any(x => x.IsShortFall == false && (x.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && x.TotalArea < 25) || (x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER")))
                                                    {
                                                        <th>Reject</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (GrantUnprocessedAppDetails data in arry[0])
                                            {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>@data.ApplicationID</td>
                                                    <td>@string.Format("{0:dd/MM/yyyy}", data.CreatedOn)</td>
                                                    <td>@data.Name</td>
                                                    <td>@data.LocationDetails </td>
                                                    @if (data.LastForwardedByRole != "")
                                                    {
                                                        <td>
                                                            @if (data.LastForwardedByRole == null)
                                                            {
                                                                if (data.rejectionmust != 1)
                                                                {
                                                                    if (data.IsShortFall == true)
                                                                    {
                                                                        @:Reverted Due to Discrepancy
                                                                    }
                                                                    else
                                                                    {
                                                                        @:Applicant 
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @:Applicant 
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @data.LastForwardedByRole
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>Applicant </td>
                                                    }
                                                    @if (arry[0].Any(x => x.LastForwardedByRole != ""))
                                                    {
                                                        <td>@data.Remarks </td>
                                                    }
                                                    <td>
                                                        <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                    </td>
                                                    @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && (x.LastForwardedByRole == null || x.LastForwardedByRole == "")))
                                                    {
                                                        if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                        {
                                                            @if (data.LoggedInRole == "EXECUTIVE ENGINEER" && (data.LastForwardedByRole == null || data.LastForwardedByRole == ""))
                                                            {
                                                                if (data.rejectionmust != 1)
                                                                {
                                                                    if (data.IsShortFall)
                                                                    {
                                                                        <td>Reverted Due to Discrepancy</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            <a asp-action="TransferFile" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning" style="background-color:#f85409a3;color:#fff;">Transfer</a>
                                                                        </td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                    @if (arry[0].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY"))
                                                    {

                                                        if (arry[0].Any(x => x.IsUnderMasterPlan == false))
                                                        {
                                                            @if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.IsForwarded == true))
                                                            {
                                                                @if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.rejectionmust != 1))
                                                                {
                                                                    if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                                    @* @if (arry[0].Any(x => x.GrantApprovalDocId != 0)) *@
                                                                    {

                                                                        @if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == true)
                                                                        {
                                                                            @* @if (data.GrantApprovalDocId != 0)
                                            { *@
                                                                            if (data.rejectionmust != 1)
                                                                            {
                                                                                if (data.IsShortFall)
                                                                                {
                                                                                    <td>Reverted Due to Discrepancy</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                        if (data.IsUnderMasterPlan != true)
                                                                                        {
                                                                                            <td>
                                                                                                <a href="@Url.Action("EditApprovalDocuments", "ApprovalProcess", new { grantId = data.ApplicationID,docId=data.GrantApprovalDocId,app=data.GrantApprovalId })" class="btn btn-success">Edit</a>
                                                                                                @* <a asp-action="EditApprovalDocuments" asp-controller="ApprovalProcess" asp-route-Id="@data.GrantApprovalId" class="btn btn-success">Edit</a> *@

                                                                                            </td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td></td>
                                                                                        }
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <td></td>
                                                                            }

                                                                        }
                                                                        else if (data.LoggedInRole != "JUNIOR ENGINEER" && data.IsForwarded == false)
                                                                        {
                                                                            @* @if (data.GrantApprovalDocId != 0)
                                            { *@
                                                                            if (data.rejectionmust != 1)
                                                                            {
                                                                                if (data.IsShortFall)
                                                                                {
                                                                                    <td>Reverted Due to Discrepancy</td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>
                                                                                    </td>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <td></td>
                                                                            }

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }

                                                                }

                                                            }
                                                            else if (arry[0].Any(x => (x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER") && x.IsForwarded == false && x.rejectionmust != 1 && x.IsShortFall == true))
                                                            {
                                                                <td>Reverted Due to Discrepancy</td>
                                                            }
                                                        }
                                                        @if (arry[0].Any(x => x.IsForwarded == true && x.rejectionmust != 1))
                                                        {
                                                            @if (arry[0].Any(x => x.IsRecommended == 1))
                                                            {
                                                                if (data.IsRecommended == 1)
                                                                {
                                                                    @if (data.IsForwarded == true)
                                                                    {
                                                                        if (data.rejectionmust != 1)
                                                                        {
                                                                            if (data.IsShortFall)
                                                                            {
                                                                                <td>Reverted Due to Discrepancy</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <a href="#" onclick="SetValue('@data.ApplicationID')" class="btn btn-info">Recommendations</a>

                                                                                </td>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (data.rejectionmust != 1)
                                                                        {
                                                                            if (data.IsShortFall)
                                                                            {
                                                                                <td>Reverted Due to Discrepancy</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <a href="#" onclick="SetValue('@data.ApplicationID')" class="btn btn-info">Recommendations</a>

                                                                                </td>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (data.rejectionmust != 1)
                                                                    {
                                                                        if (data.IsShortFall)
                                                                        {
                                                                            <td>Reverted Due to Discrepancy</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        if (arry[0].Any(x => x.IsUnderMasterPlan == false))
                                                        {
                                                            @if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                            {
                                                                @if (data.rejectionmust != 1)
                                                                {

                                                                    if (data.IsShortFall)
                                                                    {
                                                                        @if (data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                        {
                                                                            <td>Reverted Due to Discrepancy</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>Reverted Due to Discrepancy</td>
                                                                            <td>Reverted Due to Discrepancy</td>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (data.IsUnderMasterPlan)
                                                                        {
                                                                            if (((data.LoggedInRole == "EXECUTIVE ENGINEER" && (data.LastForwardedByRole == "" || data.LastForwardedByRole == null || data.LastForwardedByRole == "EXECUTIVE ENGINEER")) || (data.LoggedInRole == "JUNIOR ENGINEER" && data.LastForwardedByRole == "EXECUTIVE ENGINEER") || ((data.LoggedInRole == data.LastForwardedByRole) && (data.LoggedInRole == "JUNIOR ENGINEER" || data.LoggedInRole == "SUB DIVISIONAL OFFICER")) || (data.LoggedInRole == "SUB DIVISIONAL OFFICER" && data.LastForwardedByRole == "JUNIOR ENGINEER")))
                                                                            @* if (((data.LoggedInRole == "EXECUTIVE ENGINEER" && (data.LastForwardedByRole == "")) || (data.LoggedInRole == "JUNIOR ENGINEER") || (data.LoggedInRole == "SUB DIVISIONAL OFFICER"))) *@
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                                                                </td>
                                                                                <td>
                                                                                    <a asp-action="ShortFall" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning" style="background-color:#ea9797;color:black;">Shortfall</a>
                                                                                </td>
                                                                            }
                                                                            else @* if (((data.LastForwardedByRole != "SUB DIVISIONAL OFFICER"))) *@
                                                                            {
                                                                                <th></th>
                                                                                <th></th>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            @if (data.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && data.TotalArea > 25)
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                                                                </td>
                                                                            }
                                                                            else if (data.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && data.TotalArea < 25)
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="ShortFall" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning" style="background-color:#ea9797;color:black;">Shortfall</a>
                                                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                                                                </td>
                                                                                <td>
                                                                                    <a asp-action="ShortFall" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning" style="background-color:#ea9797;color:black;">Shortfall</a>
                                                                                </td>
                                                                            }

                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @if (data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                        <td></td>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if (arry[0].Any(x => x.rejectionmust != 1 && x.IsShortFall == false))
                                                            {
                                                                if (arry[0].Any(x => (x.LoggedInRole == "EXECUTIVE ENGINEER" && (x.LastForwardedByRole == "" || x.LastForwardedByRole == null || x.LastForwardedByRole == "EXECUTIVE ENGINEER")) || (x.LoggedInRole == "JUNIOR ENGINEER" && x.LastForwardedByRole == "EXECUTIVE ENGINEER") || ((x.LoggedInRole == x.LastForwardedByRole) && (x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER")) || (x.LoggedInRole == "SUB DIVISIONAL OFFICER" && x.LastForwardedByRole == "JUNIOR ENGINEER")))
                                                                {
                                                                    if (((data.LoggedInRole == "EXECUTIVE ENGINEER" && (data.LastForwardedByRole == "" || data.LastForwardedByRole == null || data.LastForwardedByRole == "EXECUTIVE ENGINEER")) || (data.LoggedInRole == "JUNIOR ENGINEER" && data.LastForwardedByRole == "EXECUTIVE ENGINEER") || ((data.LoggedInRole == data.LastForwardedByRole) && (data.LoggedInRole == "JUNIOR ENGINEER" || data.LoggedInRole == "SUB DIVISIONAL OFFICER")) || (data.LoggedInRole == "SUB DIVISIONAL OFFICER" && data.LastForwardedByRole == "JUNIOR ENGINEER")))
                                                                    {
                                                                        @if (data.rejectionmust != 1)
                                                                        {

                                                                            if (data.IsShortFall)
                                                                            {
                                                                                <td>Reverted Due to Discrepancy</td>
                                                                                <td>Reverted Due to Discrepancy</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="Forward" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Forward</a>
                                                                                </td>
                                                                                <td>
                                                                                    <a asp-action="ShortFall" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning" style="background-color:#ea9797;color:black;">Shortfall</a>
                                                                                </td>
                                                                            }


                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                            <td></td>
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                        <td></td>
                                                                    }
                                                                }
                                                                
                                                            }
                                                        }
                                                        @* else
                                            {
                                            <td>4</td>
                                            } *@
                                                        @if (arry[0].Any(x => ((x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || x.LoggedInRole == "CHIEF ENGINEER DRAINAGE") && x.rejectionmust != 1))
                                                        {
                                                            @if ((data.LoggedInRole == "EXECUTIVE ENGINEER" && data.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || (data.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && data.TotalArea < 25))
                                                            {
                                                                @if (data.rejectionmust != 1)
                                                                {

                                                                    if (data.IsShortFall)
                                                                    {
                                                                        <td>Reverted Due to Discrepancy</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (data.IsUnderMasterPlan)
                                                                        {
                                                                            <td>
                                                                                <a asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID" class="btn btn-success">Exemption Letter</a>

                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>
                                                                                <a asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID" class="btn btn-success">Issue NOC</a>

                                                                            </td>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td></td>
                                                                }
                                                                if (data.rejectionmust != 1)
                                                                {
                                                                    if (data.IsShortFall)
                                                                    {
                                                                        <td>Reverted Due to Discrepancy</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>
                                                                            <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>
                                                                            @* <a href="#" data-toggle="modal" data-target="#rejectModal" onclick="SetValue('@data.ApplicationID')" class="btn btn-danger">Reject</a> *@
                                                                        </td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>

                                                                    </td>
                                                                }


                                                            }
                                                            else if ((data.LoggedInRole == "CHIEF ENGINEER DRAINAGE" && data.TotalArea < 25) || data.LoggedInRole != "JUNIOR ENGINEER" && data.LoggedInRole != "SUB DIVISIONAL OFFICER")
                                                            {
                                                                if (data.rejectionmust != 1)
                                                                {
                                                                    if (data.IsShortFall)
                                                                    {
                                                                        @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                        {
                                                                            <td>Reverted Due to Discrepancy</td>
                                                                        }
                                                                        <td>Reverted Due to Discrepancy</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                        {
                                                                            if (data.IsUnderMasterPlan)
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID" class="btn btn-success">Exemption Letter</a>

                                                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <a asp-action="IssueNOC" asp-controller="ApprovalProcess" asp-route-id="@data.ApplicationID" class="btn btn-success">Issue NOC</a>

                                                                                </td>
                                                                            }
                                                                        }
                                                                        <td>
                                                                            <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>

                                                                        </td>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    <td>
                                                                        <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>

                                                                    </td>
                                                                }
                                                            }
                                                        }
                                                        else if (arry[0].Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER"))
                                                        {
                                                            if (data.LoggedInRole != "JUNIOR ENGINEER" && data.LoggedInRole != "SUB DIVISIONAL OFFICER")
                                                            {
                                                                if (data.rejectionmust != 1 && data.IsShortFall)
                                                                {
                                                                    @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                    {
                                                                        <td>Reverted Due to Discrepancy</td>
                                                                    }
                                                                    <td>Reverted Due to Discrepancy</td>
                                                                }
                                                                else
                                                                {
                                                                    @if (arry[0].Any(x => x.LoggedInRole == "EXECUTIVE ENGINEER" && x.LastForwardedByRole == "SUB DIVISIONAL OFFICER") || data.LoggedInRole == "CHIEF ENGINEER DRAINAGE")
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    <td>
                                                                        <a asp-action="Reject" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-danger">Reject</a>

                                                                    </td>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </tr>
                                                count = count + 1;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td>No Record Found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                        @if ((arry[0] != null && arry[0].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[1] != null && arry[1].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[2] != null && arry[2].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")) || (arry[3] != null && arry[3].Any(x => x.LoggedInRole != "PRINCIPAL SECRETARY")))
                        {
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="table-responsive">
                                    @if (arry[1] != null && arry[1].Any())
                                    {
                                        int @count = 1;
                                        <table class="table table-bordered" id="dataTableForwarded" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <td>#</td>
                                                    <th>Application Id</th>
                                                    <th>Date of Application</th>
                                                    <th>Project Name</th>
                                                    <th>Location Details</th>
                                                    <th>Forwarded To</th>
                                                    <th>Remarks</th>
                                                    <th>View</th>
                                                    @if (arry[1].Any(x => x.IsRecommended == 1))
                                                    {
                                                        <th>Recommendations</th>
                                                    }
                                                    @if (arry[1].Any(x => ((x.LoggedInRole == "EXECUTIVE ENGINEER" && x.ProcessedToRole == "JUNIOR ENGINEER"))))
                                                    {
                                                        <th>Action</th>
                                                    }

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (GrantUnprocessedAppDetails data in arry[1])
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@data.ApplicationID</td>
                                                        <td>@string.Format("{0:dd/MM/yyyy}", data.CreatedOn)</td>
                                                        <td>@data.Name</td>
                                                        <td>@data.LocationDetails </td>
                                                        @if (data.LastForwardedByRole != "")
                                                        {
                                                            <td>
                                                                @if (data.LastForwardedByRole == null)
                                                                {
                                                                    @:Applicant
                                                                }
                                                                else
                                                                {
                                                                    @data.ProcessedToName
                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>New Applied Application </td>
                                                        }
                                                        <td>@data.Remarks </td>
                                                        @* @if (data.ProcessedToUser != "")
                                            {
                                            <td>
                                            @if (data.ProcessedToUser == null)
                                            {
                                            @:Applicant
                                            }
                                            else
                                            {
                                            @data.ProcessedToUser
                                            }
                                            </td>
                                            }
                                            else
                                            {
                                            <td>New Applied Application </td>
                                            } *@
                                                        <td>
                                                            <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                        </td>
                                                        @if (arry[1].Any(x => x.IsRecommended == 1))
                                                        {
                                                            if (data.IsRecommended == 1)
                                                            {
                                                                <td>
                                                                    <a href="#" onclick="SetValue('@data.ApplicationID')" class="btn btn-info">Recommendations</a>

                                                                </td>
                                                            }
                                                            else
                                                            {
                                                               <td></td> 
                                                            }
                                                        }
                                                        @if (arry[1].Any(x => ((x.LoggedInRole == "EXECUTIVE ENGINEER" && x.ProcessedToRole == "JUNIOR ENGINEER"))))
                                                        {
                                                            <td>
                                                                <a asp-action="Transfer" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-warning">Transfer</a>
                                                            </td>
                                                        }

                                                    </tr>
                                                    count = count + 1;
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    else
                                    {
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>No Record Found</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                            @if (arry[2] != null && arry[2].Any() && !arry[2].Any(x => x.LoggedInRole == "JUNIOR ENGINEER" || x.LoggedInRole == "SUB DIVISIONAL OFFICER"))
                            @* @if (Model.Any(x => x.LoggedInRole != "JUNIOR ENGINEER" && x.LoggedInRole != "SUB DIVISIONAL OFFICER")) *@
                            {
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="table-responsive">
                                        @if (arry[2] != null && arry[2].Any())
                                        {
                                            int @count = 1;
                                            <table class="table table-bordered" id="dataTableRejected" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <th>Application Id</th>
                                                        <th>Date of Application</th>
                                                        <th>Project Name</th>
                                                        <th>Location Details</th>
                                                        <th>Rejected By</th>
                                                        <th>Remarks</th>
                                                        <th>View</th>
                                                        @if (arry[2].Any(x => x.IsRecommended == 1))
                                                        {
                                                            <th>Recommendations</th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (GrantUnprocessedAppDetails data in arry[2])
                                                    {
                                                        <tr>
                                                            <td>@count</td>
                                                            <td>@data.ApplicationID</td>
                                                            <td>@string.Format("{0:dd/MM/yyyy}", data.CreatedOn)</td>
                                                            <td>@data.Name</td>
                                                            <td>@data.LocationDetails </td>
                                                            @if (data.LastForwardedByRole != "")
                                                            {
                                                                <td>
                                                                    @if (data.LastForwardedByRole == null)
                                                                    {
                                                                        @:Applicant
                                                                    }
                                                                    else
                                                                    {
                                                                        @data.LastForwardedByRole
                                                                    }
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>New Applied Application </td>
                                                            }
                                                            <td>@data.Remarks </td>
                                                            <td>
                                                                <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                            </td>
                                                            @if (arry[2].Any(x => x.IsRecommended == 1))
                                                            {
                                                                if (data.IsRecommended == 1)
                                                                {
                                                                    <td>
                                                                        <a href="#" onclick="SetValue('@data.ApplicationID')" class="btn btn-info">Recommendations</a>

                                                                    </td>
                                                                }
                                                            }
                                                        </tr>
                                                        count = count + 1;
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>No Record Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            }
                            @if (arry[3] != null && arry[3].Any())
                            {
                                <div class="tab-pane fade" id="nav-shortfall" role="tabpanel" aria-labelledby="nav-shortfall-tab">
                                    <div class="table-responsive">
                                        @if (arry[3] != null && arry[3].Any())
                                        {
                                            int @count = 1;
                                            <table class="table table-bordered" id="dataTableToReject" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <th>Application Id</th>
                                                        <th>Project Name</th>
                                                        <th>Location Details</th>
                                                        <th>Remarks</th>
                                                        <th>View</th>
                                                        @if (arry[3].Any(x => x.IsRecommended == 1))
                                                        {
                                                            <th>Recommendations</th>
                                                        }
                                                        <th>NOC Certificate</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (GrantUnprocessedAppDetails data in arry[3])
                                                    {
                                                        <tr>
                                                            <td>@count</td>
                                                            <td>@data.ApplicationID</td>
                                                            <td>@data.Name</td>
                                                            <td>@data.LocationDetails </td>
                                                            <td>@data.Remarks </td>
                                                            <td>
                                                                <a asp-action="ViewApplication" asp-controller="ApprovalProcess" asp-route-Id="@data.ApplicationID" class="btn btn-primary">View</a>
                                                            </td>
                                                            @if (arry[3].Any(x => x.IsRecommended == 1))
                                                            {
                                                                if (data.IsRecommended == 1)
                                                                {
                                                                    <td>
                                                                        <a href="#" onclick="SetValue('@data.ApplicationID')" class="btn btn-info">Recommendations</a>

                                                                    </td>
                                                                }
                                                            }
                                                            <td>
                                                                <a href="@Url.Action("Download", "ApprovalProcess", new { fileName = data.CertificateFilePath })">Download</a>
                                                            </td>
                                                        </tr>
                                                        count = count + 1;
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>No Record Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @* <form method="post" asp-action="Reject" asp-controller="ApprovalProcess"> *@
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="exampleModalLabel"><label id="dvBranch">Recommendations</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tblRecommendation" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Recommendation</th>
                            <th>Remarks</th>
                            <th>Recommended By</th>
                            <th>Recommended By Designation</th>
                            <th>Processed To</th>
                            <th>Processed To Designation</th>
                            <th>Recommended On</th>
                        </tr>
                    </thead>
                    <tbody id="tbRecommendation">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                @* <button class="btn btn-danger" type="submit">Reject</button> *@
                @* <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a> *@
            </div>
            @* </form> *@
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/modulejs/approvallist.js"></script>
}
