@model RegisterEmployeeViewModel
@{
    ViewBag.Title = "Register User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="h3 mb-4 text-gray-800">Add New User</h1>

<div class="row">

    <div class="col-lg-6">

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add</h6>
            </div>
            <div class="card-body">
                <form class="user" asp-action="RegisterEmployee" asp-controller="Account" method="post">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control form-control-user" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedRole" class="control-label">Role</label>
                        <select asp-for="SelectedRole" asp-items="@Model.Roles" class="form-control">
                            <option value="">Select</option>
                        </select>
                        <span asp-validation-for="SelectedRole" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                        @Html.LabelFor(model => model.SelectedDivisionId, new {@class="control-label"})
                        @Html.ListBoxFor(model => model.SelectedDivisionId, new MultiSelectList(Model.Divisions1, "Value", "Text"), new { @class = "form-control" , multiple="multiple", id="drpDivision"})
    })
                    </div> *@
                    <div class="form-group">
                        <label for="SelectedDivisionId" class="control-label">Division</label>
                        <select id="SelectedDivisionId" asp-for="SelectedDivisionId" multiple class="form-control">
                            @* <option value="">Select</option> *@
                            @foreach (var division in Model.Divisions)
                            {
                                <option value="@division.Id">@division.Name</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedDivisionId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="SelectedSubDivisionId" class="control-label">Sub-Division</label>
                        <select id="SelectedSubDivisionId" asp-for=SelectedSubDivisionId class="form-control" multiple>
                            @* <option value="">Select</option> *@
                        </select>
                        @* <span asp-validation-for="SelectedSubDivisionId" class="text-danger"></span> *@
                    </div>
                    <div class="form-group">
                        <label for="SelectedTehsilBlockId" class="control-label">Tehsil/Block</label>
                        <select id="SelectedTehsilBlockId" asp-for=SelectedTehsilBlockId class="form-control" multiple>
                            @* <option value="">Select</option> *@
                        </select>
                        @* <span asp-validation-for="SelectedTehsilBlockId" class="text-danger"></span> *@
                    </div>
                    <div class="form-group">
                        <label for="SelectedVillageId" class="control-label">Village</label>
                        <select id="SelectedVillageId" asp-for=SelectedVillageId class="form-control" multiple>
                            @* <option value="">Select</option> *@
                        </select>
                        @* <span asp-validation-for="SelectedVillageId" class="text-danger"></span> *@
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary btn-user btn-block">Add</button>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-secondary btn-user btn-block" asp-controller="Account" asp-action="List">Back to List</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>



</div>
@section Scripts {
    <script>
        function populateDropdown(data, dropdownId) {
            var dropdown = $("#Selected" + dropdownId);
            // dropdown.html('<option value="">Select</option>');
            $.each(data, function (key, value) {
                dropdown.append('<option value="' + value.value + '">' + value.text + '</option>');
            });
        }
        $(function () {
            $('#SelectedDivisionId, #SelectedSubDivisionId, #SelectedTehsilBlockId, #SelectedVillageId').select2();
            $("#SelectedDivisionId").change(function () {
                var divisionIds = $(this).val();
                var dropdownlistSubdivision = $("#SelectedSubDivisionId");
                dropdownlistSubdivision.empty();
                $.ajax({
                    url: "/Account/GetSubDivisions",
                    type: "POST",
                    data: { divisionIds: divisionIds },
                    async: false,
                    success: function (data) {
                        populateDropdown(data, "SubDivisionId");
                        var dropdownlistTehsil = $("#SelectedTehsilBlockId");
                        dropdownlistTehsil.empty();
                        var dropdownlistVillage = $("#SelectedVillageId");
                        dropdownlistVillage.empty();
                        // dropdownlistTehsil.html('<option value="">Select</option>');
                        // dropdownlistVillage.html('<option value="">Select</option>');
                    },
                    failure: function (f) {
                        alert(f);
                    },
                    error: function (e) {
                        alert('Error ' + e);
                    }
                });
                $("#SelectedSubDivisionId").change(function () {
                    var subdivisionIds = $(this).val();
                    var dropdownlistTehsil = $("#SelectedTehsilBlockId");
                    dropdownlistTehsil.empty();
                    $.ajax({
                        url: "/Account/GetTehsilBlocks",
                        type: "POST",
                        data: { subdivisionIds: subdivisionIds },
                        async: false,
                        success: function (data) {
                            populateDropdown(data, "TehsilBlockId");
                            var dropdownlistVillage = $("#SelectedVillageId");
                            dropdownlistVillage.empty();
                            // dropdownlistVillage.html('<option value="">Select</option>');
                        },
                        failure: function (f) {
                            alert(f);
                        },
                        error: function (e) {
                            alert('Error ' + e);
                        }
                    });
                });


                $("#SelectedTehsilBlockId").change(function () {
                    var tehsilIds = $(this).val();
                    var dropdownlistVillage = $("#SelectedVillageId");
                    dropdownlistVillage.empty();
                    $.ajax({
                        url: "/Account/GetVillagess",
                        type: "POST",
                        data: { tehsilIds: tehsilIds },
                        async: false,
                        success: function (data) {
                            populateDropdown(data, "VillageId");
                        },
                        failure: function (f) {
                            alert(f);
                        },
                        error: function (e) {
                            alert('Error ' + e);
                        }
                    });
                });
            });
        });
    </script>
}

