@model DashboardDropdownViewModelView
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
}
<style>
    svg{
        width:1340px;
    }
    .dataTables_wrapper .dt-buttons {
        float: initial;
        /* margin-left:5px; */
    }
    .modal-xlg {
  width: 90%;
        margin-top: 1.7rem;
        min-width: 1300px
}
}
</style>
<h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

@if (Model != null)
{
    if (Model.LoggedInRole == "CHIEF ENGINEER DRAINAGE" || Model.LoggedInRole == "EXECUTIVE ENGINEER DRAINAGE" || Model.LoggedInRole == "Administrator" || Model.LoggedInRole == "EXECUTIVE ENGINEER" || Model.LoggedInRole == "CIRCLE OFFICER")
    {
        <div id="divLoaderApp" style="display:none;text-align:center"> <img src="~/images/ajax-loader.gif" alt="Loader" /> </div>
        <div class="row mb-4 rptApp">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" onclick="LoadReportApplications('T')" style="background-color:#4e73df;color:white;cursor:pointer;">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <center><h5>
                                            <div class="stat-text"><span class="count">@Model.TotalCount</span></div>
                                            <div class="stat-heading">Total Applications Received</div>
                                        </h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" onclick="LoadReportApplications('A')" style="background-color:#1cc88a;color:white;cursor:pointer">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <center>
                                        <h5>
                                            <div class="stat-text"><span class="count">@Model.ApprovedCount</span></div>
                                            <div class="stat-heading">Approved</div>
                                        </h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" onclick="LoadReportApplications('R')" style="background-color:#e74f40;color:white;cursor:pointer">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <center>
                                        <h5>
                                            <div class="stat-text"><span class="count">@Model.RejectedCount</span></div>
                                            <div class="stat-heading">Rejected</div>
                                        </h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body" onclick="LoadReportApplications('P')" style="background-color:#f6c23e;color:white;cursor:pointer">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <center>
                                        <h5>
                                            <div class="stat-text"><span class="count">@Model.Pending</span></div>
                                            <div class="stat-heading">Balance</div>
                                        </h5>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">

        <div class="col-lg-12">
            @if (Model != null)
            {
                <div id="divLoader" style="display:none;text-align:center"> <img src="~/images/ajax-loader.gif" alt="Loader" /> </div>
                <!-- Circle Buttons -->
                <div class="card shadow mb-4 drpd">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Charts</h6>
                    </div>
                    <div class="card-body">
                        @if (Model.RoleName.ToUpper() != "JUNIOR ENGINEER" && Model.RoleName.ToUpper() != "SUB DIVISIONAL OFFICER")
                        {
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="RoleName" id="RoleName" />
                                        <input type="hidden" asp-for="hdnDivisionId" id="hdnDivisionId" />
                                        <input type="hidden" asp-for="hdnSubDivisionId" id="hdnSubDivisionId" />
                                        <label asp-for="SelectedDivisionId" class="control-label">Division</label>
                                        <select asp-for="SelectedDivisionId" id="SelectedDivisionId" asp-items="@Model.Divisions" class="form-control">

                                        </select>
                                    </div>
                                </div>
                               @*  @if (Model.RoleName.ToUpper() == "EXECUTIVE ENGINEER" || Model.RoleName.ToUpper() == "JUNIOR ENGINEER" || Model.RoleName.ToUpper() == "SUB DIVISIONAL OFFICER")
                                { *@
                                    @* @if (Model.SubDivisions.Count() > 0)
                                { *@
                                   @*  <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="SelectedSubDivisionId" class="control-label"></label>
                                            <select asp-for="SelectedSubDivisionId" id="SelectedSubDivisionId" asp-items="@Model.SubDivisions" class="form-control">
                                            </select>
                                        </div>
                                    </div> *@
                                    @* }
                                else
                                {
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="SelectedSubDivisionId" class="control-label"></label>
                                            <select asp-for="SelectedSubDivisionId" id="SelectedSubDivisionId" disabled class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                } *@
                                @* } *@
                            </div>
                            <div class="row">
                                <div class=" col-md-12 barcontainer">
                                    <div style="max-width:100%;overflow-x:scroll;"> 
                                        <div id="chart_div" class="chart_wrap"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-md-12 barcontainer">
                                    <div id="chart_div_Pendency" class="chart_wrap"></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="exampleModalLabel"><label id="dvBranch">Level Wise Pendency Report</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tblPendancy" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Date Of Application</th>
                            <th>Project Name</th>
                            <th>Division</th>
                            <th>View</th>
                            <th>Pending With</th>
                            <th>Delay (No. of Days)</th>
                        </tr>
                    </thead>
                    <tbody id="tbPendancy">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myTotalModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="ModalLabel"><label id="dvTitle">Total Applications</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tbl" width="100%" cellspacing="0">
                    <thead id="tbh">
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Date Of Application</th>
                            <th>Project Name</th>
                            <th>Division</th>
                            <th>Status</th>
                            <th>Pending With</th>
                            <th>Pending for (No. of Days)</th>
                            <th>Processed On</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myApprovedModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelA"
     aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="ModalLabelA"><label id="dvATitle">Approved Applications</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tblA" width="100%" cellspacing="0">
                    <thead id="tbhA">
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Date Of Application</th>
                            <th>Project Name</th>
                            <th>Division</th>
                            <th>Status</th>
                            <th>Processed On</th>
                        </tr>
                    </thead>
                    <tbody id="tbA">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myRejectedModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelR"
     aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="ModalLabelR"><label id="dvRTitle">Rejected Applications</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tblR" width="100%" cellspacing="0">
                    <thead id="tbhR">
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Date Of Application</th>
                            <th>Project Name</th>
                            <th>Division</th>
                            <th>Status</th>
                            <th>Processed On</th>
                        </tr>
                    </thead>
                    <tbody id="tbR">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myPendingModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelP"
     aria-hidden="true">
    <div class="modal-dialog modal-xlg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="id" name="id" />
                <h5 class="modal-title" id="ModalLabelP"><label id="dvPTitle">Pending Applications</label></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 500px;overflow-y:scroll;">
                <table class="table table-bordered" id="tblP" width="100%" cellspacing="0">
                    <thead id="tbhP">
                        <tr>
                            <th>#</th>
                            <th>Application ID</th>
                            <th>Date Of Application</th>
                            <th>Project Name</th>
                            <th>Division</th>
                            <th>Status</th>
                            <th>Pending With</th>
                            <th>Pending for (No. of Days)</th>
                        </tr>
                    </thead>
                    <tbody id="tbP">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section  Scripts {
    <script src="~/modulejs/dashboard.js"></script>
}

