@model Noc_App.Models.Payment.PaymentRequest
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_LayoutWithoutLinks.cshtml";
}


                <div class="section-title">
                    <h2>Payment</h2>
                    @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> *@
                </div>

                <div class="row">

                    <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <div class="card shadow mb-4 col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-header py-3">
                                        <h2 class="m-0 font-weight-bold text-primary">Total Amount : ₹@Model.Amount</h2>
                                    </div>
                                    <div class="card-body">
                                        <form class="well form-horizontal" asp-action="ProcessChallan" method="post" id="contact_form">
                                            <center><h2><b>Applicant Details For Payment</b></h2></center>
                                            <center><h5>Project Name : @Model.Name</h5></center>
                                            <center><h5>Payer Name : @Model.PayerName</h5></center>
                                            <center><h5>Email : @Model.Email</h5></center>
                                            <center><h5>Mobile Number : @Model.MobileNo</h5></center>
                                            <center><h5>Address : @Model.Address</h5></center>
                                            <center><h5>Area Calculation With Amount : @Model.AreaCalculation</h5></center>
                                            @if (Model.AreaAdditionalCalculation != null && Model.AreaAdditionalCalculation != ""){
                                                <center><h5>@Model.AreaAdditionalCalculation</h5></center>
                                            }
                                            @if (Model.AreaAdditionalCalculation != null && Model.TotalAreaCalculation != "")
                                            {
                                                <center><h5>@Model.TotalAreaCalculation</h5></center>
                                            }else{
                                            <center><h5>Total Amount : ₹@Model.Amount</h5></center>
                                            }
                                            <input hidden asp-for="Amount" />
                                            <input hidden asp-for="GrantId" />
                                            <input hidden asp-for="Name" />
                                            <input hidden asp-for="Email" />
                                            <input hidden asp-for="Address" />
                                            <input hidden asp-for="ApplicationId" />
                                            <input hidden asp-for="Hadbast" />
                                            <input hidden asp-for="PlotNo" />
                                            <input hidden asp-for="Division" />
                                            <input hidden asp-for="SubDivision" />
                                            <input hidden asp-for="Tehsil" />
                                            <input hidden asp-for="Village" />
                                            <input hidden asp-for="Pincode" />
                                            <input hidden asp-for="TehsilId" />
                                            <input hidden asp-for="DistrictId" />
                                            <input hidden asp-for="PayerName" />
                                            <input hidden asp-for="MobileNo" />
                                                <div class="row col-md-12">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-2" style="text-align:center;">
                                    <button type="submit" class="btn btn-warning btn-user btn-block col-sm-8">Pay Now <span class="glyphicon glyphicon-send"></span></button>
                                                    </div>
                                                    <div class="col-sm-2">
                                                    <a class="btn btn-primary btn-user btn-block col-sm-8" asp-controller="Grant" asp-action="Index" asp-route-Id="@Model.ApplicationId">Pay Later</a>
                                                    </div>
                                                </div>
                                            </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
           
