@using System.Security.Claims
@using Newtonsoft.Json
@using Noc_App.Helpers
@using Noc_App.Models.interfaces
@using Noc_App.PaymentUtilities
@inject IRepository<UserRoleDetails> _userRolesRepository;
@inject IRepository<DivisionDetails> _divisionRepository;
@inject IRepository<CircleDetails> _circleRepository;
@inject IRepository<CircleDivisionMapping> _circleDivRepository;
@inject IRepository<EstablishmentOfficeDetails> _estabOfficeRepository;
@inject IConfiguration _configuration;

@* @inject SignInManager<ApplicationUser> signInManager; *@
@{
    var surnameClaim = User.FindFirst(ClaimTypes.Surname);
    var localityClaim = User.FindFirst(ClaimTypes.Locality);
    var roleClaim = User.FindFirst(ClaimTypes.Role);
    var countClaim = User.FindFirst(ClaimTypes.Country);
    string locality = localityClaim != null ? localityClaim.Value : "Locality not found";
    string surname = surnameClaim != null ? surnameClaim.Value : "Surname not found";
    string role = roleClaim != null ? roleClaim.Value : "Role not found";
    string cont = countClaim != null ? countClaim.Value : "Country not found";
    var session = ViewContext.HttpContext.Session;
    List<UserSessionMenuViewModel> menuItems = new List<UserSessionMenuViewModel>();

    string name = User.Identity.Name;
    string userId = session.GetString("Userid");

    string div = session.GetString("Divisionid");
    string roleid = session.GetString("RoleId");

    string designation = role;

    var detail = surname.Split(',');
    int count = 0;

    string ChecksumKey = _configuration["IFMSPayOptions:ChecksumKey"].ToString();
    string edKey = _configuration["IFMSPayOptions:edKey"].ToString();
    string edIV = _configuration["IFMSPayOptions:edIV"].ToString();
    


    IFMS_EncrDecr objSes = new IFMS_EncrDecr(ChecksumKey, edKey, edIV);

    string decodedSession = objSes.Decrypt(cont);

    SessionViewModel sessionModel = Newtonsoft.Json.JsonConvert.DeserializeObject<SessionViewModel>(decodedSession);

    string originalSession = session.GetString("Ses");

    if (sessionModel.Token != originalSession)
    {
        <script>
            window.location.href = '@Url.Action("Login", "Account")';
        </script>
    }

    foreach (var claim in detail)
    {
        var cl = claim.Split('-');
        if(cl.ToList().Count>1){
            DivisionDetails location = new DivisionDetails();
            var roles = (from d in _userRolesRepository.GetAll().AsEnumerable()
                         where d.Id.ToString() == cl[1].ToString()
                         select new UserRoleDetails
                             {
                                 Id = d.Id,
                                 AppRoleName = d.AppRoleName,
                                 RoleLevel = d.RoleLevel,
                                 RoleName = d.RoleName
                             }
                          ).FirstOrDefault();
            if (roles != null)
            {
                if (roles.AppRoleName == "CIRCLE OFFICER")
                {
                    List<UserMenuBlockViewModel> objList = (from d in _divisionRepository.GetAll().ToList()
                                                            join loc in _circleDivRepository.GetAll().ToList() on d.Id equals loc.DivisionId
                                                            join r in _circleRepository.GetAll().ToList() on loc.CircleId equals r.Id
                                                            where r.Id.ToString() == cl[0].ToString()
                                                            select new UserMenuBlockViewModel
                                        {
                                            Name = name,
                                            Designation = roles.AppRoleName,
                                            Location = d.Name + " (" + r.Name + ")",
                                            UserId = userId,
                                            IsActive = div == d.Id.ToString() && roles.Id.ToString() == cl[1],
                                            RoleID = cl[1],
                                            DivisionID = d.Id.ToString()
                                        }).ToList();
                    foreach (var item in objList)
                    {
                        UserMenuBlockViewModel obj = new UserMenuBlockViewModel
                                {
                                    Name = item.Name,
                                    Designation = item.Designation,
                                    Location = item.Location,
                                    UserId = item.UserId,
                                    IsActive = item.IsActive,
                                    RoleID = item.RoleID,
                                    DivisionID = item.DivisionID,
                                    SessionId=cont
                                };
                        string json = JsonConvert.SerializeObject(obj);
                        string encDataSes = objSes.Encrypt(json);
                        UserSessionMenuViewModel sesObj = new UserSessionMenuViewModel {EcnData=encDataSes,Name=obj.Name,Designation=obj.Designation,Location=obj.Location,IsActive=obj.IsActive };
                        menuItems.Add(sesObj);
                    }
                    

                }
                else if (roles.AppRoleName == "EXECUTIVE ENGINEER" || roles.AppRoleName == "Administrator" || roles.AppRoleName == "JUNIOR ENGINEER" || roles.AppRoleName == "SUB DIVISIONAL OFFICER")
                {
                    location = (from d in _divisionRepository.GetAll().AsEnumerable()
                                where d.Id.ToString() == cl[0].ToString()
                                select new DivisionDetails
                                        {
                                            Id = d.Id,
                                            Name = d.Name
                                        }
                             ).FirstOrDefault();

                    if (location != null)
                    {
                        UserMenuBlockViewModel obj = new UserMenuBlockViewModel
                                {
                                    Name = name,
                                    Designation = roles.AppRoleName,
                                    Location = location.Name,
                                    UserId = userId,
                                    IsActive = div == location.Id.ToString() && roles.Id.ToString() == cl[1],
                                    RoleID = cl[1],
                                    DivisionID = location.Id.ToString(),
                                    SessionId = cont
                                };
                        string json = JsonConvert.SerializeObject(obj);

                        string encDataSes = objSes.Encrypt(json);
                        UserSessionMenuViewModel sesObj = new UserSessionMenuViewModel { EcnData = encDataSes, Name = obj.Name, Designation = obj.Designation, Location = obj.Location, IsActive = obj.IsActive };
                        menuItems.Add(sesObj);
                    }
                }
                else
                {
                    location = (from d in _estabOfficeRepository.GetAll().ToList()
                                where d.Id.ToString() == cl[0].ToString()
                                select new DivisionDetails
                                        {
                                            Id = d.Id,
                                            Name = d.Name
                                        }
                             ).FirstOrDefault();

                    if (location != null)
                    {
                        UserMenuBlockViewModel obj = new UserMenuBlockViewModel
                                {
                                    Name = name,
                                    Designation = roles.AppRoleName,
                                    Location = location.Name,
                                    UserId = userId,
                                    IsActive = div == location.Id.ToString() && roles.Id.ToString() == cl[1],
                                    RoleID = cl[1],
                                    DivisionID = location.Id.ToString(),
                                    SessionId = cont
                                };
                        string json = JsonConvert.SerializeObject(obj);

                        string encDataSes = objSes.Encrypt(json);
                        UserSessionMenuViewModel sesObj = new UserSessionMenuViewModel { EcnData = encDataSes, Name = obj.Name, Designation = obj.Designation, Location = obj.Location, IsActive = obj.IsActive };
                        menuItems.Add(sesObj);
                    }
                }
            }
            
        }
        else
        {
            <script>
                window.location.href = '@Url.Action("Login", "Account")';
            </script>
        }
    }

    // Create menu items and make them available to the layout

    // Pass it to ViewBag or ViewData to be accessed in the layout
    // ViewBag.MenuItems = menuItems;
    // var menuItems = ViewBag.MenuItems as IEnumerable<UserMenuBlockViewModel>;
    
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- datatables -->
    <link href="~/lib/css/datatables/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/datatables/buttons.bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" /> *@
    @* <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" /> *@
    <!-- Custom styles for this template-->
    <link href="~/template/css/sb-admin-2.css" rel="stylesheet">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/custom_profile.css" rel="stylesheet" />
    @* <link href="~/landingpage/assets/css/select2.css" rel="stylesheet" /> *@
   
    @functions {
        private bool IsLinkActive(string controller, string action)
        {
            // if (action == 'Master') {
            //     return true;
            // }
            // else
            // {
                var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
                var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase) && string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase);
            // }
        }

        private bool IsLink2Active(bool rtn)
        {
            // if (action == 'Master') {
            //     return true;
            // }
            // else
            // {
            return rtn;
            // }
        }
    }
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript();">
                <div class="sidebar-brand-icon">
                    @* <i class="fas fa-laugh-wink"></i> *@
                    <img src="~/landingpage/assets/img/favicon.png" alt="NOC" height="32" width="32" />
                </div>
                <div class="sidebar-brand-text mx-3">NOC Drainage, Department of Water Resources, Punjab </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            
            @if (User.Identity.IsAuthenticated && (!User.IsInRole("JUNIOR ENGINEER")) && (!User.IsInRole("SUB DIVISIONAL OFFICER")))
            {
                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">

                    <a class="nav-link" asp-action="Index" asp-controller="Home">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
            }
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrator")))
            {
                <li id="masterid" class="nav-item @((ViewContext.RouteData.Values["controller"].ToString() == "TehsilBlock" || ViewContext.RouteData.Values["controller"].ToString() == "Village") && ViewContext.RouteData.Values["action"].ToString() == "List" ? "active" : "")">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#masters"
                    aria-expanded="true" aria-controls="masters">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Masters</span>
                    </a>

                    <div id="masters" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            @* <h6 class="collapse-header">Custom Components:</h6> *@
                            @*  <a class="collapse-item" asp-action="ListRoles" asp-controller="Administration">Roles</a> *@

                            @* <a class="collapse-item" asp-action="List" asp-controller="Division">Division</a>
                            <a class="collapse-item" asp-action="List" asp-controller="SubDivision">SubDivision</a> *@
                            <a class="collapse-item" asp-action="List" asp-controller="TehsilBlock">Tehsil/Block</a>
                            @* <a class="collapse-item" asp-action="List" asp-controller="Village">Village</a> *@
                            @* <a class="collapse-item" asp-action="List" asp-controller="Account">User</a> *@

                        </div>
                    </div>


                </li>
                <hr class="sidebar-divider">

                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "ApplicationStatus" ? "active" : "")">
                    <a class="nav-link" asp-action="ApplicationStatus" asp-controller="Home">
                        <i class="fas fa-fw fa-bookmark"></i>
                        <span>Application Status</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
            }
            @if (User.Identity.IsAuthenticated && (!User.IsInRole("Junior Engineer")) && (!User.IsInRole("Sub Divisional Officer") && (!User.IsInRole("Administrator"))))
            @* @if (User.Identity.IsAuthenticated && (!User.IsInRole("JUNIOR ENGINEER")) && (!User.IsInRole("SUB DIVISIONAL OFFICER") && (!User.IsInRole("Administrator")))) *@
            {
                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ApprovalProcess" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                    <a class="nav-link" asp-action="Index" asp-controller="ApprovalProcess">
                        <i class="fas fa-fw fa-arrow-circle-right"></i>
                        <span>Approve/Reject NOC</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
            }

            @if (!User.IsInRole("Administrator"))
            {
                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ApprovalProcess" && ViewContext.RouteData.Values["action"].ToString() == "ProcessedApplications" ? "active" : "")">
                    <a class="nav-link" asp-action="ProcessedApplications" asp-controller="ApprovalProcess">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Processed Applications</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
            }
            @if (User.IsInRole("EXECUTIVE ENGINEER"))
            {
                <li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "ApprovalProcess" && ViewContext.RouteData.Values["action"].ToString() == "TransferedApplications" ? "active" : "")">
                    <a class="nav-link" asp-action="TransferedApplications" asp-controller="ApprovalProcess">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Transfered Applications</span>
                    </a>
                </li>
                <hr class="sidebar-divider">
            }
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                       @*  <div class="topbar-divider d-none d-sm-block"></div> *@
                       
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow" style="background-color: #79edc1;line-height: 1.2;">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Administrator")))
                                    {
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div><span class="mr-2 d-none d-lg-inline text-gray-900 small" style="font-weight: 800;font-size: medium;">Administrator</span></div>
                                                    </td>
                                                </tr>
                                                @* <tr>
                                                    <td>
                                                        <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">@role</span></div>
                                                    </td>
                                                </tr> *@
                                                <tr>
                                                    <td>
                                                        <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">Drainage</span></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                    else{
                                        <div>
                                         <table>
                                             <tr><td>
                                                    <div><span class="mr-2 d-none d-lg-inline text-gray-900 small" style="font-weight: 800;font-size: medium;">@User.Identity.Name</span></div>
                                                </td>
                                            </tr>
                                            <tr><td>
                                        <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">@role</span></div>
                                                </td>
                                            </tr>
                                            <tr><td>
                                        <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">@locality</span></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    }
                                    <img class="img-profile rounded-circle"
                                    src="~/img/undraw_profile.svg">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                    @* <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a> *@
                                    @if (User.Identity.IsAuthenticated && (!User.IsInRole("Administrator")))
                                    {
                                        @if (menuItems != null)
                                        {
                                            foreach (var item in menuItems)
                                            {
                                                @* <a class="dropdown-item activediv" href="#"> *@
                                                string cssClass = item.IsActive ? "dropdown-item dropdown-item2 activediv disabled" : "dropdown-item dropdown-item2 inactivediv";

                                                <a class="@cssClass" href="#" onclick="submitForm(this,event)">
                                                    <div>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <form method="post" id="postDataForm" asp-action="SwitchRole" asp-controller="Account">
                                                                        <input type="hidden" value="@item.EcnData" id="EncData" name="EncData" />
                                                                        <input type="hidden" value="@item.Designation" id="Designation" name="Designation" />
                                                                        <input type="hidden" value="@item.Name" id="EmployeeName" name="EmployeeName" />
                                                                        <input type="hidden" value="@item.Location" id="DivisionNameN" name="DivisionNameN" />
                                                                    </form>
                                                                    <div>
                                                                        <span class="mr-2 d-none d-lg-inline text-gray-900 small"><strong>@item.Name </strong></span>



                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">@item.Designation</span></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div><span class="mr-2 d-none d-lg-inline text-gray-900 small">@item.Location</span></div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="dropdown-divider"></div>
                                        }
                                    }
                                    <form method="post" asp-action="logout" asp-controller="account">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Logout
                                        </a>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="animated fadeIn">
                    @RenderBody()
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; NOC 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-action="Logout" asp-controller="Account">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Logout</button>
                    @* <a class="btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a> *@
                </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    @* <script src="~/lib/js/datatables/datatables.min.js"></script> *@
    <script src="~/lib/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/lib/js/datatables/jszip.min.js"></script>
    <script src="~/lib/js/datatables/buttons.html5.min.js"></script>
    <script src="~/lib/js/datatables/buttons.print.min.js"></script>
        @* <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script> 
         <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script> *@
    
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/vendor/js/custom.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Datatables-->
   @*  <script src="~/lib/js/datatables/datatables.min.js"></script>
    <script src="~/lib/js/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/lib/js/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/lib/js/datatables/jszip.min.js"></script>
    <script src="~/lib/js/datatables/vfs_fonts.js"></script>
    <script src="~/lib/js/datatables/buttons.html5.min.js"></script>
    <script src="~/lib/js/datatables/buttons.print.min.js"></script>
    <script src="~/lib/js/datatables/buttons.colVis.min.js"></script>
    <script src="~/lib/js/init/datatables-init.js"></script> *@
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  
    

    <!-- Custom scripts for all pages-->
    <script src="~/template/js/sb-admin-2.min.js"></script>
    <script src="~/landingpage/assets/js/select2.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> *@

    <!-- Page level plugins -->
    @* <script src="~/vendor/chart.js/Chart.min.js"></script> *@

    <!-- Page level custom scripts -->
    @* <script src="~/template/js/demo/chart-area-demo.js"></script>
    <script src="~/template/js/demo/chart-pie-demo.js"></script> *@
    @* <script>
        $(function () {
            SetActiveMenu();
        });
       function SetActiveMenu(action,controller){
           $('#accordionSidebar').find('li').removeClass('active');
           if (action == "Index" && controller == "ApprovalProcess") {
               $('#appIndex').addClass('active');
           }
            // alert($(e).closest('ul').find('li').removeClass('active'))
            // $(e).closest('ul').find('li').removeClass('active');
            // $(e).addClass('active');
       }
    </script> *@
    <script src="~/js/custom_profile.js"></script>
    <script src="~/modulejs/disablekeysdetail.js"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }
</body>

</html>
